.venv/
__pycache__/
*/__pycache__/
.pytest_cache/
*.pyc

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

.infra_artifacts/
models/*.joblib
mlruns/
airflow_home/
logs/
